# Analiza sprzedaży w sklepie internetowym

In [1]:
import pandas as pd

In [8]:
data = {
    "order_id":[101,102,103,104,105,106,107],
    "customer":["Ewa","Marcin","Ewa","Tomek","Anna","Ewa","Marcin"],
    "category":["electronics","books","books","electonics","books","sports","books"],
    "amount":[1200,67,101,879,45,899,213],
    "order_date":pd.to_datetime(["2025-08-01","2025-08-01","2025-08-02","2025-08-02","2025-08-05","2025-08-06","2025-08-07"])
}

In [9]:
df = pd.DataFrame(data)
df.head()

,order_id,customer,category,amount,order_date
0,101,Ewa,electronics,1200,2025-08-01
1,102,Marcin,books,67,2025-08-01
2,103,Ewa,books,101,2025-08-02
3,104,Tomek,electonics,879,2025-08-02
4,105,Anna,books,45,2025-08-05

In [11]:
#filtrowanie
books_only = df[df["category"]=="books"]

#dodanie kolumny z VAT
df["VAT_23"] = df["amount"]*0.23

#grupowanie po kliencie i kategoriach
summary = (
    df.groupby(["customer","category"])
    .agg(total_spent=("amount","sum"),orders = ("order_id","count"))
    .reset_index()
)

#sortowanie po najwięszych zakupach
top_spenders = summary.sort_values(by="total_spent",ascending=False)

In [12]:
print(f"\nTylko książki:\n{books_only}")
print(f"z vat:\n{df}")
print(f"\nPodsumowanie:\n{summary}")
print(f"\n Top spenderzy:\n{top_spenders}")

Tylko książki:
   order_id customer category  amount order_date  VAT_23
1       102   Marcin    books      67 2025-08-01   15.41
2       103      Ewa    books     101 2025-08-02   23.23
4       105     Anna    books      45 2025-08-05   10.35
6       107   Marcin    books     213 2025-08-07   48.99
z vat:
   order_id customer     category  amount order_date  VAT_23
0       101      Ewa  electronics    1200 2025-08-01  276.00
1       102   Marcin        books      67 2025-08-01   15.41
2       103      Ewa        books     101 2025-08-02   23.23
3       104    Tomek   electonics     879 2025-08-02  202.17
4       105     Anna        books      45 2025-08-05   10.35
5       106      Ewa       sports     899 2025-08-06  206.77
6       107   Marcin        books     213 2025-08-07   48.99

Podsumowanie:
  customer     category  total_spent  orders
0     Anna        books           45       1
1      Ewa        books          101       1
2      Ewa  electronics         1200       1
3      Ewa       sports          899       1
4   Marcin        books          280       2
5    Tomek   electonics          879       1

 Top spenderzy:
  customer     category  total_spent  orders
2      Ewa  electronics         1200       1
3      Ewa       sports          899       1
5    Tomek   electonics          879       1
4   Marcin        books          280       2
1      Ewa        books          101       1
0     Anna        books           45       1